<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<h1>Contacts<h1>

    </head>
<body>
{% block content %}
<p>Contact 1</p>
<p>Contact 2</p>
<p>Contact 3</p>
{%endblock%}
</body>
</html>