<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    </head>
<body>
{% block content %}
<h1>Home</h1>
<p>This is the homepage</p>
{%endblock%}
</body>
</html>
